<div>
    <h2 data-translate="movieFansDbApp.movie.home.title">Movies</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary" ui-sref="movie.new" >
                <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="movieFansDbApp.movie.home.createLabel">
                    Create new Movie
                </span>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" ui-sref="movie.fetchfrominternet" >
                <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="movieFansDbApp.movie.home.fetchFromInternetLabel">
                    Fetch Movie from Internet
                </span>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit" ng-click="vm.filterMovies()">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span  data-translate="movieFansDbApp.movie.home.filter">
                    Filter movies
                </span>
            </button>
            <h3 data-translate="movieFansDbApp.movie.filters.applicable">Applicable filters</h3>
            <div class="form-group">
                <label class="control-label" data-translate="movieFansDbApp.movie.filters.title" for="field_title">Title contains</label>
                <input type="text" class="form-control" name="title" id="field_title" ng-model="vm.filter.title"/>
            </div>
            <div class="form-group">
                <label data-translate="movieFansDbApp.movie.filters.actor" for="field_actor">Starred by</label>
                <select class="form-control" id="field_actor" name="actor" ng-model="vm.filter.actor" ng-options="actor as actor.name for actor in vm.actors | orderBy : 'name' track by actor.id">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label data-translate="movieFansDbApp.movie.filters.director" for="field_director">Directed by</label>
                <select class="form-control" id="field_director" name="director" ng-model="vm.filter.director" ng-options="director as director.name for director in vm.directors | orderBy : 'name' track by director.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="movieFansDbApp.movie.imdbId">Imdb Id</span></th>
                    <th><span data-translate="movieFansDbApp.movie.title">Title</span></th>
                    <th><span data-translate="movieFansDbApp.movie.date">Date</span></th>
                    <th><span data-translate="movieFansDbApp.movie.plot">Plot</span></th>
                    <th><span data-translate="movieFansDbApp.movie.rating">Rating</span></th>
                    <th><span data-translate="movieFansDbApp.movie.genre">Genre</span></th>
                    <th><span data-translate="movieFansDbApp.movie.cast">Cast</span></th>
                    <th><span data-translate="movieFansDbApp.movie.director">Director</span></th>
                    <th><span data-translate="movieFansDbApp.movie.creator">Creator</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in vm.movies | orderBy : 'title' track by movie.id">
                    <td>{{movie.imdbId}}</td>
                    <td><a ui-sref="movie-detail({id:movie.id})">{{movie.title}}</td>
                    <td>{{movie.date | date:'mediumDate'}}</td>
                    <td>{{movie.plot}}</td>
                    <td>{{movie.rating}}</td>
                    <td>{{movie.genre}}</td>
                    <td>
                        <span ng-repeat="cast in movie.casts">
                            <a class="form-control-static" ui-sref="actor-detail({id: cast.id})">{{cast.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="director-detail({id:movie.director.id})">{{movie.director.name}}</a>
                    </td>
                    <td>{{movie.creator}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="movie-detail({id:movie.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movie.edit({id:movie.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movie.delete({id:movie.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
