<div>
    <h2 data-translate="movieFansDbApp.actor.home.title">Actors</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary" ui-sref="actor.new" >
            <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="movieFansDbApp.actor.home.createLabel">
                    Create new Actor
                </span>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="submit" ng-click="vm.filterActors()">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span  data-translate="movieFansDbApp.actor.home.filter">
                    Filter actors
                </span>
            </button>
            <h3 data-translate="movieFansDbApp.actor.filters.applicable">Applicable filters</h3>
            <div class="form-group">
                <label class="control-label" data-translate="movieFansDbApp.actor.filters.name" for="field_name">Name contains</label>
                <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.filter.name"/>
            </div>
            <div class="form-group">
                <label data-translate="movieFansDbApp.actor.filters.creator" for="field_creator">Created by</label>
                <select class="form-control" id="field_creator" name="creator" ng-model="vm.filter.creator" ng-options="user as user.login for user in vm.users | orderBy : 'login' track by user.login">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="movieFansDbApp.actor.imdbId">Imdb Id</span></th>
                    <th><span data-translate="movieFansDbApp.actor.name">Name</span></th>
                    <th><span data-translate="movieFansDbApp.actor.biography">Biography</span></th>
                    <th><span data-translate="movieFansDbApp.actor.creator">Creator</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="actor in vm.actors | orderBy : 'name' track by actor.id">
                    <td>{{actor.imdbId}}</td>
                    <td><a ui-sref="actor-detail({id:actor.id})">{{actor.name}}</td>
                    <td>{{actor.biography}}</td>
                    <td>{{actor.creator}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="actor-detail({id:actor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.edit({id:actor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.delete({id:actor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
